/* ItemListContainer */

.itemListContainer {
  margin: 8.5rem auto 4rem auto;
  padding: 0 0.9rem;
  max-width: 1400px;
}

.itemListContainer__title {
  margin-top: 2rem;
  text-align: center;
}

.itemList_title {
  margin-bottom: 3rem;
  text-align: center;
}
