.cart__container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.cart__shopping--btn {
  text-decoration: none;
  background-color: rgb(51, 17, 70);
  color: whitesmoke;
  padding: 1em 2em;
  border-radius: 4px;
  transition: all 500ms ease;
}

.cart__shopping--btn:hover {
  background-color: #70259b;
  box-shadow: 0px 10px 15px -3px rgba(1, 1, 1, 0.2);
  transform: translateY(-4px);
  padding: 1em 3em;
}

.cart__checkout--btn {
  margin: 1rem auto 4rem auto;
  border-style: none;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  padding: 0.2em 0.3em;
  cursor: pointer;
  transition: all 500ms ease;
  text-decoration: none;
  color: black;
}

.cart__checkout--btn:hover {
  background-color: rgb(233, 233, 233);
}
